@import '../../default_style.css';

.footer-container {
    background-color: var(--grey);
    color: var(--white);
    width: 100%;
    bottom: 0px;
    justify-content: space-between;
    align-content: center;
    display: flex;    
    height: 60px;
}
