@import "../../default_style.css";

.reading-page{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-content: center;
}

.reading-page hr{
    width: 95%;
}

.reading-page p{
    font-weight: 400;
    margin: 0;    
    text-align: justify;
    text-justify: distribute;
}

.reading-page p,p{
    padding-top: .25rem;
}

.reading-page h3 {
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.reading-header {
    max-width: 100%;
    border-radius: 1rem;
}