@import "../../default_style.css";

.reading-page{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-content: center;
}

.reading-page p{
    font-weight: 400;
    margin: 0;    
    text-align: justify;
    text-justify: distribute;
    padding-top: .25rem;
}

.reading-page h3 h1{
    margin-bottom: .2rem;
    margin-top: 1rem;    
}

.reading-header {
    display: block;
    object-fit: cover;
    border-radius: 1em;
    width: 100%;
    height: 30vw;
    object-position: center 60%;
}


.reading-page a {
    text-decoration: none;
    padding: 10px;    
    font-weight: bold;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--strong-blue);
}