:root {
    --deep-blue: #272643;
    --white: #ffffff;
    --white-blue: #e3f6f5;
    --light-blue: #bae8e8;
    --strong-blue: #2c698d;
    --grey: #555d61;
    --header-height: 60px;
    --footer-height: 60px;
    --body-height: calc(100% - (var(--footer-height) + var(--header-height)));
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100dvh;
}
