@import "../../default_style.css";

.card{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    max-width: 20%;
    min-width: 100px;
}

.card hr{
    width: 95%;
}

.card p{
    font-weight: 400;
}