@import "../../default_style.css";

.card{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    width: calc(100% * (1/5));
    max-width: 220px;
    min-width: 180px;
}

.card hr{
    width: 95%;
}

.card p{
    font-weight: 400;
    text-align: justify;
    text-justify: distribute;
}
