@import "../../default_style.css";

.card{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    width: calc(100% * (1/3));
    min-width: 180px;
    flex-grow: 1;
    color: var(--grey);
    text-decoration: none;
    align-self: stretch;
}

.card hr{
    width: 95%;
}

.card p{
    font-weight: 400;
    text-align: justify;
    text-justify: distribute;
}
